
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
attrs
backcall
beautifulsoup4
black
bleach
certifi
cffi
charset-normalizer
click
colorama
cryptography
debugpy
decorator
defusedxml
distlib
Django
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
entrypoints
executing
fastapi
fastjsonschema
filelock
glfw
h11
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
mpmath
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
Pillow
pipenv
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic_core
pygame
pyglfw
Pygments
PyJWT
PyOpenGL
PyOpenGL-accelerate
pyparsing
pyrsistent
python-dateutil
python3-openid
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
Send2Trash
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
sqlparse
stack-data
starlette
sympy
terminado
tinycss2
torch
tornado
traitlets
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
virtualenv-clone
virtualenvwrapper-win
wcwidth
webencodings
websocket-client
widgetsnbextension
